 
<% content_for :intro do %>
<div id="myCarousel" class="carousel slide carousel-fade">
  
  <ol class="carousel-indicators">
    <% @projects_for_home.each_with_index do |p, index| %>
    <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
  </ol> 
  
<div class="carousel-inner">

<% @projects_for_home.each_with_index do |p, index| %>
<div class="<% if index == 0 %>active<% end %> item">
  
    <div id="intro" style="padding-top:20px;padding-bottom:70px;background-color:#13211c;">
      <!-- load image here for phone and tablet -->
      <%= link_to (image_fu p.hero_image, '1200x600c', id: 'big-image', class: 'hidden-desktop'), refinery.projects_project_path(p) %>
      <div class="container home-hero">
    		<div class="row-fluid">
    			<div class="span4 offset87" id="quotebox" >
            <h2><i class="icon-chevron-right"></i> <%= link_to p.title, refinery.projects_project_path(p) %></h2>
      			<div class="hidden-phone"><p><%#= raw p.testimonial %></p></div>
    			</div>
    		</div>
      </div>
      <!-- load image here for desktop - hide for phone and tablet -->

      <%= link_to (image_fu p.hero_image, '1170x500c', id: 'big-image', class: 'hidden-phone hidden-tablet'), refinery.projects_project_path(p)  %>
      <!-- img src="http://placehold.it/1170x500" id="big-image" / -->

    </div>
  
</div>
<% end %>


</div>
<!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> 



<% end %>

<div class="row-fluid" id="home-bucket-section">

<div class="row-fluid home-buckets" style="margin-top:-50px;position:relative;z-index:1000;">
	<div class="span12" style="padding:20px;">
	<div class="span4">
		<h1>Trust<br />Partnership<br />Excellence</h1>
		<h3><i class="icon-chevron-right"></i> <%= link_to 'Why Wieser Brothers', '/why-wieser-brothers' %></h3>
	</div>
	<div class="span4">
    <%= image_fu(@testimonial.hero_image, '357x140#c') %>
		<%#= image_tag "bucket2.png" %>
		<h3><i class="icon-chevron-right"></i> <%= link_to 'Our Latest Projects', '/projects' %></h3>
	</div>
	<div class="span4">
		<%#= image_tag "bucket3.png" %>

    <%#= image_fu(@news_item.news_image, '357x140#c') %>

    <%#= image_tag(@news_item.image_id.thumbnail('100x100').url) %>
    <%#= image_fu(@news_item.image_id, '100x100#c') %>

    <%= @news_item.title %>
    <%#= image_fu(@news_item.title
		<h3><i class="icon-chevron-right"></i> <%= link_to 'Green Initiatives', '/green-initiatives' %></h3>
	</div>
</div>

</div>

<%#= render 'shared/search' %>

<%#= form_tag refinery.search_path do -%>
                  <%#= text_field_tag :query, {}, {:type => "search",
                     :placeholder => "Search site for...", 
                     :value => (params[:query] if params[:query])} %>
                  <%#= submit_tag 'Search' %>
                <%# end %>
<%#= render '/refinery/content_page' %>

</div>
