<% content_for :intro do %>
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <% @projects_for_home.each_with_index do |p, index| %>
    <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<% if index == 0 %>active<% end %>"></li>
    <% end %>
  </ol> 

<div class="carousel-inner">

<% @projects_for_home.each_with_index do |p, index| %>
<div class="<% if index == 0 %>active<% end %> item">
  <div id="intro">
    <div class="container home-hero">
  		<div class="row-fluid">
  			<div class="span4 offset8" id="quotebox" >
    			<p><%= raw p.testimonial %></p>
    			<h4><%= p.title %></h4>
    			
  			</div>
  		</div>
    </div>
    <%= image_fu p.hero_image, nil, id: 'big-image' %>
  </div>
</div>
<% end %>


</div>
<!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> 
<!--	
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol> -->
  <!-- Carousel items --> <!-- 
  <div class="carousel-inner">
    <div class="active item">…</div>
    <div class="item">…</div>
    <div class="item">…</div>
  </div> -->
  <!-- Carousel nav --> <!-- 
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

-->
	





<% end %>

<div class="row-fluid" style="">

<div class="row-fluid home-buckets" style="margin-top:-100px;position:relative;">
	<div class="span12" style="padding:20px;">
	<div class="span4">
		<h1>Trust<br />Excellence<br />Partnership</h1>
		<h3><i class="icon-chevron-right"></i> Why Wieser Brothers</h3>
	</div>
	<div class="span4">
		<%= image_tag "bucket2.png" %>
		<h3><i class="icon-chevron-right"></i> Our Latest Projects</h3>
	</div>
	<div class="span4">
		<%= image_tag "bucket3.png" %>
		<h3><i class="icon-chevron-right"></i> Green Technologies</h3>
	</div>
</div>

</div>
<%#= render '/refinery/content_page' %>

</div>
