<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <div id="page_container">
      <div id="home">
        <div id="intro">
          <div class="container">
            <header id="nav">
              <%= render '/refinery/header' -%>
            </header>
          </div><!-- top container -->
          
          <div class="container" style="position:relative;z-index:20;top:0;left:0;">
            <div class="row-fluid">
              <div class="span4 offset8" id="quotebox" >
                <p>We had such a positive experience with Wieser Brothers that we now use them as our general contractor of choice. We ask questions during construction ad know we are getting hones answers and ideas that are in the best interst of our company.</p>
                <p><strong>Doug Muller, Projects Manager<br />Organic Valley</strong></p>
              </div>
            </div>
          </div>
          
          <%= image_tag 'placeholder-hero.jpg', style: 'width:100%;margin-top:-363px;' %>



        </div>

        <div class="container">
          <section id="page" >
            <%= yield %>
          </section>
        </div><!-- middle container -->


        <footer>
        <div class="container">
        <div class="row-fluid" style="min-height:250px;">
          <div class="span4" id="email-sign-up">
            <form>
              <fieldset>
                <legend>Receive our newsletter</legend>
                <label>Your email address</label>
                <input type="text" placeholder="Your email address">
                <span class="help-block">Read the latest news from Wieser Brothers.</span>
                <button type="submit" class="btn">Submit</button>
              </fieldset>
            </form>
          </div>
          <div class="span2">
            <ul>
              <li>Why Wieser Brothers</li>
              <li>Trust</li>
              <li>Excellence</li>
              <li>Partnership</li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li>Projects</li>
              <li>Current Projects</li>
              <li>Completed Projects</li>
              <li>Archives</li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li>Services</li>
              <li>Design/Build</li>
              <li>Commercial</li>
              <li>Residential</li>
              <li>Concrete</li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li>Contact Us</li>
              <li>News</li>
              <li>Employment Opportunities</li>
              <li>Bid Opportnities</li>
            </ul>
          </div>
          <%= render '/refinery/footer' -%>
        </div>
      </div>
      </footer>




      </div>
      

    

    

   
      
    </div><!-- footer container -->
   



    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
