<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <div id="page_container">
      
      <div id="home">
        <div class="container" style="position:relative;z-index:200;">
          <header id="nav">
            <%= render '/refinery/header' -%>
          </header>
        </div><!-- top container -->
        <%= yield :intro %>
      </div>

      <div class="container">
        <section id="page" >
          <%= yield %>
        </section>
      </div><!-- middle container -->

        <%= render '/shared/footer_links' %>

    </div>
      
    <!-- </div> footer container -->
  
    </div>
    <%= render '/refinery/javascripts' %>
    <script type="text/javascript">

var $ = jQuery.noConflict();

$(document).ready(function() {
 $('#myCarousel').carousel({
       interval: 4000,
          cycle: true
 });
});

</script>
  </body>
</html>
