<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <div id="page_container">
      <div class="container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
    </div><!-- top container -->

    <div class="container">
      <section id="page">
        <%= yield %>
      </section>
    </div><!-- middle container -->

    <div class="container">
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div><!-- footer container -->

    </div>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
