<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/90ccd044-a350-4224-991a-c27e5193c0e8.css"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <div id="page_container">
      
      <div id="home" >
        <div id="header-row">
        <div class="container" >
          <header id="nav">
            <%= render '/refinery/header' -%>
          </header>
        </div><!-- top container -->
      </div>
        <%= yield :intro %>
      </div>

      <div class="container">
        <section id="page" >
          <%= yield %>
          <% content_for :search do %>
            <%= render '/shared/search' %>
          <% end %>
          
          <%#= render '/shared/search' %>
        </section>
      </div><!-- middle container -->


        <%#= render '/shared/footer_links' %>
        <footer>
        <div class="container">
        <div class="row-fluid" style="min-height:200px;">
          <div class="span4 form-horizontal" id="email-sign-up">
            <%= yield :search %>
          </div>
          <div class="span2">
            <ul>
              <li><%= link_to 'Why Wieser Brothers', '/why-wieser-brothers' %></li>
              <li><%= link_to 'Trust', '/why-wieser-brothers#trust' %></li>
              
              <li><%= link_to 'Partnership', '/why-wierser-brothers#partnership' %></li>
              <li><%= link_to 'Excellence', '/why-wierser-brothers#excellence' %></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li><%= link_to 'Projects', '/projects' %></li>
              <!-- <li><%#= link_to 'Current Projects', '/projects' %></li> -->
              <li><%= link_to 'Completed Projects', '/projects_completed' %></li>
              <li><%= link_to 'Archives', '/projects/projects_archived' %></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li><%= link_to 'Services', '/services' %></li>
              <li><%= link_to 'Design/Build', '/services#design-build' %></li>
              <li><%= link_to 'Commercial', '/services#commercial' %></li>
              <li><%= link_to 'Residential', '/services#residential' %></li>
              <li><%= link_to 'Concrete', '/services#concrete' %></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li><%= link_to 'Contact Us', '/contact' %></li>
              <li><%= link_to 'News', '/news' %></li>
              <li><%= link_to 'Careers', '/careers' %></li>
              <li><%= link_to 'Bid Opportunities', '/bid-opportunities' %></li>
            </ul>
          </div>
          <%= render '/refinery/footer' -%>
        </div>
      </div>
      </footer>

    </div>
      
    <!--  </div>footer container -->
  
    </div>
    <%= render '/refinery/javascripts' %>
    <script type="text/javascript">

var $ = jQuery.noConflict();

$(document).ready(function() {
 $('#myCarousel').carousel({
       interval: 5000,
          cycle: true
 });
});

</script>
  </body>
</html>
