<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <div id="page_container">
      <div id="home">

        <div class="container" style="position:relative;z-index:200;">
          <header id="nav">
            <%= render '/refinery/header' -%>
          </header>
        </div><!-- top container -->

       
       
        <%= yield :intro %>
       
      </div>
      
        

        <div class="container">
          <section id="page" >
            
            
            <%#= Refinery.extensions %>
            <%#= link_to 'Projects', refinery.projects_projects_path %>
            <%#= link_to 'home', refinery.root_path %>
            
            <%= yield %>
          </section>
        </div><!-- middle container -->


        <footer>
        <div class="container">
        <div class="row-fluid" style="min-height:250px;">
          <div class="span4 form-horizontal" id="email-sign-up">
            <form>
              <fieldset>
                <label>Search</label>
                <input type="text" placeholder="Search..." class="span9">
                <button type="submit" class="btn">Submit</button>
              </fieldset>
            </form>
          </div>
          <div class="span2">
            <ul>
              <li><%= link_to 'Why Wieser Brothers', '/why-wieser-brothers' %></li>
              <li><%= link_to 'Trust', '/why-wieser-brothers#trust' %></li>
              <li><%= link_to 'Excellence', '/why-wierser-brothers#excellence' %></li>
              <li><%= link_to 'Partnership', '/why-wierser-brothers#partnership' %></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li><%= link_to 'Projects', projects_projects_path %></li>
              <li><%= link_to 'Current Projects', projects_projects_path %></li>
              <li><%= link_to 'Completed Projects', projects_projects_completed_path %></li>
              <li><%= link_to 'Archives', projects_projects_archived_path %></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li><%= link_to 'Services', '/services' %></li>
              <li><%= link_to 'Design/Build', '/services#design-build' %></li>
              <li><%= link_to 'Commercial', '/services#commercial' %></li>
              <li><%= link_to 'Residential', '/services#residential' %></li>
              <li><%= link_to 'Concrete', '/services#concrete' %></li>
            </ul>
          </div>
          <div class="span2">
            <ul>
              <li><%= link_to 'Contact Us', '/contact-us' %></li>
              <li><%= link_to 'News', '/news' %></li>
              <li><%= link_to 'Employment Opportunities', '/employment-opportunities' %></li>
              <li><%= link_to 'Bid Opportunities', '/bid-opportunities' %></li>
            </ul>
          </div>
          <%= render '/refinery/footer' -%>
        </div>
      </div>
      </footer>


      <%= yield :test %>

      </div>
      

    

    

   
      
    </div><!-- footer container -->
   



    </div>
    <%= render '/refinery/javascripts' %>
    <script type="text/javascript">

var $ = jQuery.noConflict();

$(document).ready(function() {
 $('#myCarousel').carousel({
       interval: 4000,
          cycle: true
 });
});

</script>
  </body>
</html>
